h1 {
    padding: 2rem;
    font-size: 2rem;
    color: black;
    font-weight: 700;
}

.ini h2{
    position: relative;
    bottom: 1rem;
    color: #635e5e;
}

.login {
    border: #FFFFFF;
    margin-right: 15rem;
    margin-top: 5rem;
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
    border-radius: 2rem;
    text-align: center;
    margin-left: 45rem;
    background-color: rgb(243, 240, 240);
    height: 45rem;
    width: 35rem;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.itens h2{
    font-size: 1.3rem;
    font-weight: 600;
}

.inpp,
.inpp2 {
    text-align: start;
}

input {
    width: 20rem;
    padding: 0.8rem;
    font-size: 1.3rem;
    border-radius: 0.7rem;
    border: #ccc;
}

.inpeimg input {
    padding-left: 6rem;
    transition: padding-left 0.2s ease;
    gap: 2rem;
}

.inpeimg input:not(:placeholder-shown) {
    padding-left: 12px;
}

.inpeimg {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icone-input {
    position: absolute;
    left: 9px;
    width: 18px;
    height: 18px;
    pointer-events: none;
    gap: 0.2rem;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.inpeimg input {
    padding-left: 3rem;
}

.inpeimg input:not(:placeholder-shown)~.icone-input {
    opacity: 0;
}

.bott {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
    outline: none;
    background-color: #1768F4;
    padding: 1rem;
    border-radius: 1.01rem;
    width: 27rem;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s ease, transform 0.15s ease;
    text-decoration: none;
    margin-top: 2rem;

}

.bott:hover {
    background-color: #0f5ce0;
    transform: translateY(-2px);
}

.bott:active {
    transform: translateY(0);
}

.divisor {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.linha {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.texto-divisor {
  color: #000000;
  font-size: 1.4rem;
  white-space: nowrap;
}

.gogui img{
    width: 2.8rem;
    height: auto;
}

.gogui{
     display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color:#0F172A;
    outline: none;
    background-color:#FFFFFF;
    padding: 1rem;
    border-radius: 1.01rem;
    width: 27rem;
    height: 2rem;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s ease, transform 0.15s ease;
    text-decoration: none;
}


.gogui:hover {
     background: #F8FAFC;
  border-color: #94A3B8;
    transform: translateY(-2px);
}

.gogui:active {
    transform: translateY(0);
}

.gogui p{
    font-size: 1.6rem;
    position: relative;
    bottom: 0.1rem;
    padding: 0.5rem;
}